/* index-css */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    font-weight: bolder;
}

nav {
    background-color: rgba(102, 139, 138, 1);
    height: 200px;
}

table {
    width: 100%;
    height: 200px;
}

nav td {
    width: 20%;
    text-align: center;
    font-size: 50px;
    font-family: 'Train One', cursive;
    color: rgba(113, 110, 119, 1);
}

nav td:hover {
    text-shadow: 5px 5px 0px rgb(126, 96, 77);
}

nav td:active {
    color: rgba(249, 238, 211, 1);
}

nav a:active {
    color: rgba(231, 150, 134, 1);
}

img {
    width: 170px;
    height: 170px;
    padding-top: 10px;
}

main {
    height: auto;
    background-color: rgba(249, 238, 211, 1);
    padding: 30px 0px;
    text-align: center;
}

.title {
    margin: 0;
    padding: 0px 0px 30px;
    text-decoration: underline;
    color: rgba(164, 124, 100, 1);
    font-family: 'Train One', cursive;
    font-size: 50px;
}

li {
    list-style-type: none;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgba(102, 139, 138, 1);
}

.footer-td {
    width: 25%;
    height: 150px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgba(249, 238, 211, 1);
}

.footer-td a :active {
    color: rgba(231, 150, 134, 1);
}

ul {
    margin: 0;
    padding: 0;
}

.footer-li {
    text-align: left;
}

a {
    color: rgba(249, 238, 211, 1);
    text-decoration: none;
}

a :hover {
    color: rgba(194, 91, 86, 1);
}


/* teachers-css-xuan */
.x-container {
    height: 1100px;
}

.x-card {
    width: 22%;
    height: 300px;
    float: left;
    position: relative;
    top: 20px;
    left: 180px;
    padding: 20px 0px;
    margin: 20px 0px;
}

.x-info {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 205px;
    height: 200px;
    transition: 1s ease;
    opacity: 0;
    top: 20px;
    border-radius: 35px;
    padding: 40px 40px 40px 35px;
}

.x-info p {
    width: 220px;
    font-size: 18px;
    text-align: left;
    color: #f1f1f1;
}

.x-info:hover {
    opacity: 1;
}

.x-img {
    display: block;
    width: 220px;
    height: auto;
    background-color: #e7968696;
    padding: 30px;
    border-radius: 35px;
}

/* courses-css-jasmine */
.j-container {
    text-align: center;
}

.j-row {
    position: relative;
    columns: 2;
    column-rule: 4px dashed rgba(164, 124, 100, 1);
    width: 100%;
    padding: 30px 0px;
}

.j-class-info {
    font-size: 25px;
    text-align: left;
    padding: 0px 120px;
    height: 200px;
}

.j-icon {
    padding: 20px 0px;
    color: rgba(159, 176, 131, 1);
    width: 600px;
    text-align: center;
}

.j-row h1 {
    font-size: 30px;
    padding: 0px 30px;
    text-decoration: underline rgba(102, 139, 138, 1) double;
}

.j-row a :active {
    color: black;
}

.fa-info-circle {
    color: rgba(231, 150, 134, 1);
}

.j-teacher {
    font-size: 25px;
    text-align: center;
}

/* activites-css-heng */

.y-img {
    width: 400px;
    height: auto;
}

.y-main-div {
    columns: 3;
    column-rule: rgba(164, 124, 100, 1) dashed 4px;
    padding: 30px 70px;
    height: 630px;
}

.y-main-div p {
    padding: 0px 10px;
    font-size: 25px;
    height: 200px;
    text-align: left;
}

.y-button {
    display: inline-block;
    background-color: rgba(102, 139, 138, 1);
    color: rgba(249, 238, 211, 1);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    height: 600px;
}

.y-obutton {
    display: inline-block;
    background-color: rgba(231, 150, 134, 1);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    height: 600px;
}

.y-button:hover {
    background-color: rgba(159, 176, 131, 1)
}

.y-button:active {
    background-color: rgba(159, 176, 131, 1);
    box-shadow: 0 5px rgba(249, 238, 211, 1);
    transform: translateY(4px);
}

.y-obutton:hover {
    background-color: rgba(208, 167, 39, 1)
}

.y-obutton:active {
    background-color: rgba(164, 124, 100, 1);
    box-shadow: 0 5px rgba(249, 238, 211, 1)66;
    transform: translateY(4px);
}

/* about_us-css-brian */
.b-photo {
    width: 250px;
    height: 250px;
    padding: 10px;
    background-color: rgba(231, 150, 134, 0.7);
    border-radius: 25px;
}

.b-container {
    width: 100%;
    height: 300px;
    padding: 20px 0px;
    columns: 2;
    column-rule: 4px dashed rgba(164, 124, 100, 1);
}

.b-container p {
    text-align: center;
    font-size: 23px;
    padding: 0px 20px;
    margin: 0;
}

.b-container a :active {
    color: rgba(231, 150, 134, 1);
}
.b-name{
    color: rgba(102, 139, 138, 1);
    font-size: 30px;
    text-decoration: underline;
}
.b-englishname {
    font-size: 30px;
    font-family: 'Train One', cursive;
    color: rgba(102, 139, 138, 1);
}

.b-photo1,
.b-photo2,
.b-photo3,
.b-photo4 {
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: rgba(102, 139, 138, 1);
    border-radius: 25px;
    transition: all 0.8s ease-out;
}

@keyframes swing {
    15% {
        transform: translateX(5px);
    }

    40% {
        transform: translateX(-5px);
    }

    65% {
        transform: translateX(2px);
    }

    85% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}

.b-photo1:hover {
    transform: scale(1.2, 1.2);
    transform: rotate(-45deg);
    background-color: rgba(231, 150, 134, 1);
    border-radius: 50%;
}

.b-photo2:hover {
    background-color: rgba(76, 88, 112, 1);
    animation: swing 0.5s 3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}

.b-photo3:hover {
    background-color: rgba(208, 167, 39, 1);
    transform: translateX(-120px);
}

.b-photo4:hover {
    background-color: rgb(173, 95, 95);
    transform: translate(100px) rotate(-3deg) scale(0.9);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}