head{
  background-color:	#000000;
  padding: 30px 0px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px; 
  

}

.top-navbar {
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
}

/*Sidenav(側拉菜單)*/
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 20px 20px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 120px;
  font-size: 35px;

}

.openbtn {
  position: fixed;
  top: 0%;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 15px 20px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

/*Dropdown Menu in Sidenav(Sidenav中的下拉菜單)*/
.dropdown-btn {
  padding: 20px 20px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 10px;
}

.fa-caret-down {
   float: right;
   padding-right: 8px;
  }

/*頂層圖象*/
.img1-header 
{
  float:right;
  position: fixed;
  z-index: 99;
  top:0.5%;
  left: 79.5%;
}

.img1-header:hover
{
background-color: #818188;
width: 56px; 
height: 50px;
}




/*Clickable Dropdown(點擊菜單)*/
.img2-header 
{
  float:right;
  position: fixed;
  z-index: 99;
  top:1%;
  left: 74%;
}

.dropbtn {
background-color: #000000;
color: white;
padding: 0px 12px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #818188;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ffffff;
min-width: 130px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* 登入頁面 */
/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


.sign {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
border-radius: 10px ;
}

.sign:hover {
opacity: 0.8;
} 

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 15px 24px;
background-color: #f44336;
border-radius: 10px ;
}


/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;

}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding: 14px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: -55%;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>本頁內容*/
.divTop {
  position: absolute;
  top:31%;
  left: 4%;
  z-index: -22;
  padding: 25px;
  height: 500px;

}

.divProd1 {
  width: 45%;
  height: 100%;
  float: left;

}

.divProd2 {
  width: 45%;
  height: 100%;
  float: right;
  position: relative;
  left: -7%;
}

#hComments1 {
  position: absolute;
  top: 130%;
  left: 2.5%;
  padding:15px 0px 15px 0px ;
  width: 95%;
  z-index: -2;
  border-radius: 10px 10px 0px 0px ;
  text-align: center;
  color: white;
  background-color: black;
}

#hComments2 {
  position: absolute;
  top: 212%;
  left: 2.5%;
  padding:15px 0px 15px 0px ;
  width: 95%;
  z-index: -2;
  text-align: center;
  font-size: 22pt;

}


#pProdTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  width: 540px;
}

#pProdInfo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 550px;
}

#pPrice {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  background-color: wheat;
  width: 550px;
}

#lblAmount {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  position: relative;
  left: 3%;
  top: 1%;
}

#spnbut
{
  width:80px;
  height:30px;
  position: relative;
  left:5%;
}

.divLine {
  padding: 0 10px;
  border-top: 1px solid #000;
  height: 2px;
  line-height: 0.1em;
  width: 90%;
  margin: auto;
}

.divRow {
  display: table;
  width: 100%;
}

.divRow img,pre {
  float: left;
  margin-left: 10px;
}

.revisionbut
{
  position: relative;
  left: 19%;

}

#butOrder1 {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bolder;
  background-color: #000000;
  border-radius: 5px ;
  color: white;
  width: 150px;
  height: 50px;
}

#butOrder2 {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bolder;
  background-color: white;
  border-radius: 5px ;
  width: 150px;
  height: 50px;
}

.commentborder
{
  border-style:dashed;
  position: absolute;
  top: 144.5%;
  left: 2.5%;
  width: 92.4%;
  z-index: -22;
  padding: 10px 15px 10px 15px;
  border-radius: 0px 0px 10px 10px ;
}





.divRefProd {
  width: 95%;
  height: 200px;
  position: absolute;
  top: 233%;
  left: 2.5%;
  
}

#butLeftArw {
  float: left;
  margin-top: 50px;
  padding: 22px 4px 55px 4px;
  font-size: 24px;
  width: 30px;
  height: 50px;
  background-color: rgb(196, 187, 187);
  border: none;
}

#butRightArw {
  float: right;
  margin-top: 50px;
  padding: 22px 4px 55px 4px;
  font-size: 24px;
  width: 30px;
  height: 50px;
  background-color: rgb(196, 187, 187);
  border: none;
}

#divRefImg {
  padding-top: 10px;
  margin-left: 85px;
}

#divRefImg img {
  float: left;
  margin-left: 25px;
}

#divRefImg div {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

#divRefImg span {
  display: block;
}




/*底層*/
footer
{
  background-color:#000000;
  position: absolute;
  top: 282%;
  left: -1%;
  width: 101%;
  display: flex;
}

.foot-text
{
position: relative;
left: 42%;
top: 33%;
font-size:12px;
line-height: 20px;
text-align: left;
font-size:12pt;
color: #ffffff;
padding: 40px;

}